body{
	display: block;
}
.header{
	background: #0590d7;
}
.pull-left img{
	display: block;
    width: 100%;   
}
@media screen and (max-width: 768px) {
	.pull-left img{
		width: 230px;
	}
}
.icon-bar{
	background: #fff;
}
.header .pull-right{
	margin-top: 35px;
}
.header .pull-right li{
	padding-right: 20px;
}
.header .pull-right li a{
	color: #fff;
}
.header .pull-right li a:hover{
	background: #0590d7;
}
.topnav{
	background: #1e9bdb;
}
.navbar-default a{
	color: #fff;
}
.topnav li a{
	width: 155px;
	text-align: center;
	color: #fff;
}
.topnav li a:hover{
	background: #006699;
}
.dropdown-menu li{
	background: #1e9bdb;
	
}
.dropdown-menu li a{
	font-size: 17px;
}
/*.dropdown-menu li{
	border: 1px solid red;

}*/
.navbar-toggle{
	margin-top: 20px;
}
@media screen and (max-width: 1200px) {
	.topnav li a{
		width: 120px;
	}
}
@media screen and (max-width: 992px) and (min-width: 768px) {
	.topnav li a{
		width: 95px;
	}
}
@media screen and (max-width: 768px) {
	.topnav li a{
		width: 100%;
		text-align: left;
	}
}
#lll{
	margin-top: 40px;
	margin-bottom: 80px;
}
.st img{
	width: 100%;
}
.menu p{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
}
#gk{
	padding-bottom: 10px;
	background: #1e9bdb;
}
.menu ul{
	/*border: 1px solid red;*/
	padding: 0 15px 20px;
	background: #f0f0f0;
}
.menu li a{
	margin-top: 13px;
	line-height: 30px;
	background: #fff;
}
.menu li a:hover{
	background: #fff;
}
#xxgk{
	border-bottom: 1px solid #ddd;
}
#xxgk span{
	color: #999;
}
#xxgk a{
	text-decoration: none;
	color: #999;
}
#xxgk h4{
	padding-top: 8px;
	float: left;
}
#xxgk .j-right{
	float: right;
	margin-top: 15px;
}
.tab-content h3,h6{
	text-align: center;
}
.tab-content p{
	font-size: 18px;
	text-indent:2em;
	line-height: 35px;
}
.tab-content h5{
	text-indent: 2em;
	font-size: 18px;
}
.tab-content img{
	width: 100%;
}

.horn{
	background: #069;
	
}
.left-horn{
	padding-top: 18px;
	padding-bottom: 15px;
	color: #fff;
	font-size: 16px;
}
.top-horn{
	display: block;
	position: fixed;
	right: 10%;
	bottom: 10%;
	height: 30px;
	width: 30px;
	cursor: pointer;
	background: #37a6df;
}
.top-horn span{
	padding-top: 8px;
	padding-left: 8px;
	color: #fff;
}
